*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

ul li,
ol li,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@import 'modules/Layout/layout.scss';
